/* The main stylesheet for the project. Defines styles for various HTML elements and components. */

.body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #87CEFA;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: greekFont, serif;
}

.footer {
    background-color: #87CEFA;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    padding: 20px;
}

.btn {
    background-color: #87CEFA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4682B4;
}

@font-face {
    font-family: greekFont;
    src: url(https://www.dafont.com/dalek-pinpoint.font) format('font')
}